# General
.DS_Store
Thumbs.db
*.swp

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Environment variables
.env
.env.local
.env.*.local

# Electron / Build Output
/dist
/out
/build
*.dmg
*.exe
*.zip
*.app

# IDEs
.idea/
.vscode/
*.jy
*.yl

# Local History (VS Code extension)
.history/